.button-add { background-image:url('../images/add.gif') !important; }
.button-upd { background-image:url('../images/update.gif') !important; }
.button-del { background-image:url('../images/delete.gif') !important; }
.x-tree-icon-leaf { display: none !important; }